<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>
<body>
<h1>Edit Password</h1>
<form id = "editPasswordForm"
th:action="@{/users/me/editpassword}"
th:object="${editPasswordForm}"
method="POST">

<table>
        <tr>
            <td><label for="userOldPasswordForm">Old Password</label>
            <td><input id=oldPasswordInput type="password" th:field="*{oldpassword}" placeholder="OLD PASSWORD"/></td>
        	<td th:if="${#fields.hasErrors('oldpassword')}" th:errors="${editPasswordForm.oldpassword}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="newPasswordForm">New Password</label>
            <td><input id=newPasswordInput type="password" th:field="*{newpassword}" placeholder="NEW PASSWORD" /></td>
        	<td th:if="${#fields.hasErrors('newpassword')}" th:errors="${editPasswordForm.newpassword}" th:style="'color:red'"></td>
        </tr>
        <tr><td><button type="submit">Save</button> </td>
        </table>
       </form>     
</body>
</html>