<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<title>TaskManager</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item"><a class="nav-link" href="/projects">My
						projects</a></li>
				<li class="nav-item"><a class="nav-link" href="/sharedProjects">Shared
						with me</a></li>
				<li class="nav-item"><a class="nav-link" href="/projects/add">Create
						new Project</a></li>
				<li class="nav-item"><a class="nav-link" href="/users/me">My
						Profile</a></li>

			</ul>

			<form class="form-inline my-2 my-lg-0">
				<a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
			</form>
		</div>
	</nav>
	<div class="card">
		<div class="card-body">
			<h1 class="text-center" th:text="${project.name}"></h1>
			<p class="text-center" th:text="${project.description}"></p>

			<div th:if="${members.size()>0}">
				<p class="text-center">Members</p>
				<div class="d-flex align-items-center justify-content-center h-100">
					<div class="card" style="width: 18rem;">
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:each="member : ${members}">
								<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav justify-content-center">
					<li class="nav-item"
						th:if="${loggedUser.equals(project.getOwner())}"><a
						class="nav-link" th:href="'/projects/' + 'share/' + ${project.id}"
						th:text="Share"></a></li>
					<li class="nav-item"
						th:if="${loggedUser.equals(project.getOwner())}"><a
						class="nav-link" th:href="'/projects/' + 'edit/' + ${project.id}"
						th:text="Edit"></a></li>
					<li class="nav-item"
						th:if="${loggedUser.equals(project.getOwner())}"><a
						class="nav-link"
						th:href="'/projects/' + 'delete/' + ${project.id}"
						th:text="'Delete' + ' ' + 'Project'"></a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="'/projects/' + 'addTask/' + ${project.id}"
						th:text="AddTask"></a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="'/projects/' + 'addTag/' + ${project.id}"
						th:text="'Create' + ' ' + 'Tag'"></a></li>

				</ul>
			<br> <br> <br>
			<div th:if="${project.tasks!=null&&project.tasks.size()>0}">
				<h4 class="text-center">Tasks</h4>
				<div class="nav justify-content-center">

					<div class="list-group list-group-horizontal">
						<div th:each="task : ${project.tasks}">
							<div class="card m-4" style="width: 18rem;">
								<div class="card-header">
									<h5 class="card-title" th:text="${task.name}"></h5>
									<div class="nav justify-content-end">
									<button th:if="${task.completed}" type="button" class="btn btn-success">Completed</button>
									<button th:if="${!task.completed}" type="button" class="btn btn-danger">To do</button>
									</div>
								</div>
								<div class="card-body">

									<h6 class="card-subtitle mb-2 text-muted"
										th:text="${task.user.firstName} + ' ' + ${task.user.lastName}"></h6>
									<p class="card-text" th:text="${task.description}"></p>


								</div>

								<div class="card-footer">
									<a th:href="'/tasks/' + ${task.id}" class="card-link">Open
										Task</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br> <br> <br>

			<div th:if="${project.tagList!=null&&project.tagList.size()>0}">
				<h6 class="text-center">Tags</h6>
				<div class="nav justify-content-center">
					<div class="list-group list-group-horizontal">
						<div th:each="tag : ${project.tagList}"
							th:style="@{'background-color:' + ${tag.color}}" class="card m-3"
							style="width: 10rem;">
							<div class="card-body">

								<h6 class="card-subtitle mb-2 text-muted"
									th:text="${tag.tagName}" style="color: white;"></h6>

							</div>

							<div th:if="${project.getOwner().equals(loggedUser)}" class="card-footer">
								<a th:href="'/tag/delete/' +${tag.id}" class="card-link">Delete</a>
							</div>


						</div>
					</div>
				</div>
				</div>
				<br> <br> <br>
				
			</div>
		</div>
</body>
</html>


<!-- 

<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>
<body>


<h1 th:text="${project.name}"></h1>
<h4 th:text="${project.description}" style= "color:green"></h4>
<h4> <a th:href="'/projects/' + 'share/' + ${project.id}" th:text="Share"> </a></h4>
<h4> <a th:href="'/projects/' + 'edit/' + ${project.id}" th:text="Edit"> </a></h4>
<h4> <a th:href="'/projects/' + 'delete/' + ${project.id}" th:text="Delete"> </a></h4>
<h4> <a th:href="'/projects/' + 'addTask/' + ${project.id}" th:text="AddTask"> </a></h4>
<div th:if="${members.size()>0}" > 
<h3>Shared with: </h3>
<ul>
<li th:each="member : ${members}">
<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
</li>
</ul>
</div>
<div>
<h2>Tasks: </h2>
<ul>
<li th:each="task : ${project.tasks}">
<h3> <a th:href="'/tasks/' + ${task.id}" th:text="${task.name}"> </a></h3>
<h4 th:text="${task.user.firstName} + ' ' + ${task.user.lastName}" style="color:gray">User: </h4>
<h4 th:text ="${task.description}" style="color:gray"></h4>
</ul>
</div>

</body>
</html>
 -->