<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>TaskManager</title>
  </head>
<body>
<div class="container d-flex h-100">
<div  class="container">
<h1>Register new User</h1>
<form id = "registerUserForm"
      th:action="@{/users/register}"
      method="POST">
<div class="form-group">
    <label for="userNameInput">Username</label>
    <input class="form-control" id=userNameInput type="text" th:field="${credentialsForm.userName}" placeholder="USERNAME" required>
  <div th:if="${#fields.hasErrors('credentialsForm.userName')}" th:errors="${credentialsForm.userName}" th:style="'color:red'"></div>
  </div>
  <div class="form-group">
    <label  for="passwordInput">Password</label>
    <input  class="form-control" id=userNameInput type="password" th:field="${credentialsForm.password}" placeholder="PASSWORD">
  <div  th:if="${#fields.hasErrors('credentialsForm.password')}" th:errors="${credentialsForm.password}" th:style="'color:red'"></div>
  </div>
   <div class="form-group">
    <label   for="firstNameInput">First Name</label>
    <input  class="form-control" id="firstNameInput" type="text" th:field="${userForm.firstName}" placeholder="FIRST NAME"/>
  <div  th:if="${#fields.hasErrors('userForm.firstName')}" th:errors="${userForm.firstName}" th:style="'color:red'"></div>
  </div>
  <div class="form-group">
    <label   for="lastNameInput">Last Name</label>
    <input  class="form-control" id="lastNameInput" type="text" th:field="${userForm.lastName}" placeholder="LAST NAME"/>
  <div  th:if="${#fields.hasErrors('userForm.lastName')}" th:errors="${userForm.lastName}" th:style="'color:red'"></div>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  </form>
   </div>
   </div>
</body>
</html>