<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>
<body>
<h1>Share Project</h1>
<form id = "shareProjectForm"
th:action="@{/projects/share}"
th:object="${projectReceiver}"
method="POST">

<table>
        <tr>
            <td><label for="receiver">Enter receiver's username</label>
            <td><input id=receiverInput type="text" th:field="*{username}" placeholder="USERNAME"/></td>
            <td><input type="hidden" name="id" th:field="*{sharedProjectId}"></td>
        </tr>
        
        <tr><td><button type="submit">Save</button> </td>
        </table>
       </form>     
</body>
</html>