<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>TaskManager</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item">
        <a class="nav-link" href="/projects">My projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sharedProjects">Shared with me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects/add">Create new Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/me">My Profile</a>
      </li>
      
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
    <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
    </form>
  </div>
</nav>
<div class="text-center">
<h1  class="text-center"  th:text="${credentials.userName}"></h1>
<h3 class="text-center"  th:text="${user.firstName} + ' ' + ${user.lastName}" ></h3>
<div class="d-flex align-items-center justify-content-center h-100">
<table>
<tr> <td><h6 class="text-center">Role</h6> </td>
<td><p class="text-center" th:text="${credentials.role}"></p></td> </tr>
<tr> <td><h6 class="text-center">Registered at: </h6> </td>
<td><p class="text-center" th:text="${user.creationTimestamp}"></p></td> </tr>
<tr> <td><h6 class="text-center">Last update at: </h6> </td>
<td><p class="text-center" th:text="${user.lastUpdateTimestamp}"></p></td> </tr>
</table>
</div>
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/users/me/edit" >Edit my information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/me/editpassword" >Change my password</a>
  </li>
</ul>
</body>
</html>


<!-- 

<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Your Profile</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.userName}">...</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td th:text="${user.firstName}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td th:text="${user.lastName}">...</td>
        </tr>
        <tr>
            <td>Role</td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        <tr>
            <td>Registered at: </td>
            <td th:text="${user.creationTimestamp}">...</td>
        </tr>
        <tr>
            <td>Last Update at:</td>
            <td th:text="${user.lastUpdateTimestamp}">...</td>
        </tr>
        <tr>
        	<td><h4><a href="/users/me/edit">Update my information</a></h4>
        	<td><h4><a href="/users/me/editpassword">Change my password</a></h4>
        	</td> </tr> 
    </table>
</body>
</html>
 -->